$main-font: 'Lexend Deca', sans-serif;
$secondary-font: 'Big Shoulders Display', cursive;
$bg-main-grey: #f2f2f2;
$bg-orange: hsl(31, 77%, 52%);
$bg-cyan: hsl(184, 100%, 22%);
$bg-green: hsl(179, 100%, 13%);
